body {
	background-color: #e0e0d1;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

img {
  float: left;
  margin: 0 5px 10px;
}

.factbox {
  overflow: auto;
  border-color:#666666;
  border-style: solid;
  margin-bottom: 10px;
}

title: {

}

.factbox :hover {
  background-color:#c1c1a4;
}

.fact {
  font-size: 20px;
}